<div class="table-box">
    <h4>Transactions</h4>
    <table class="table">
        <thead>
        <th>Stock</th>
        <th>Op</th>
        <th>Quantity</th>
        <th>Operation Date</th>
        <th>Currency</th>
        <th>Price</th>
        <th>Fix Rate</th>
        <th>Total Cost($)</th>
        <th>Profit/Loss($)</th>
        <th>Cumulative Profit/Loss($)</th>
        </thead>
        <tbody>
            <tr ng-repeat="t in transactionList">
                <td>{{ t.stock.name }}</td>
                <td>{{ t.op.order }} </td>
                <td>{{ t.quantity }} </td>
                <td>{{ t.opDate }}</td>
                <td>{{ t.stock.currency.name }}</td>
                <td>{{ t.stock.price }}</td>
                <td>{{ t.fx.rate }}</td>
                <td>{{ t.totalAmount }}</td>
                <td ng-if="!isNull(t.stat)">{{ t.stat.current }}</td>
                <td ng-if="!isNull(t.stat)">{{ t.stat.cumulative }}</td>
            </tr>
        </tbody>
    </table>
</div>